@model List<MVCEcommerce.Models.Entities.ProductDetail>

<html>
<head>
    <title>Product List</title>
</head>
<body>
    <form id="search-form" method="get" asp-action="GetProductSorting" asp-controller="Products">
        <input type="text" name="productName" placeholder="Search..." />
        <button type="submit">Search products</button>
    </form>
    
    <table  cellspacing="10" cellpadding="8" style="border-collapse: separate;">
    <thead>
        <tr>
            
        </tr>
    </thead>
    <tbody>
        @{
            int count = 0; 
        }

        @foreach (var product in Model)
        {
            if (count % 5 == 0)
            {
                if (count > 0)
                {
                    @:</tr>
                }
               @: <tr> 
            }

            <td style="vertical-align: bottom; height: 200px;">
                @if (product.ImageData != null && product.ImageData.Length > 0)
                {
                    var base64 = Convert.ToBase64String(product.ImageData);
                    var imgSrc = $"data:image/jpeg;base64,{base64}";
                    <img src="@imgSrc" alt="Product image" width="150" />
                }
                else
                {
                    <em>No image available</em>
                }

                <div>
                    <strong>@product.ProductName</strong><br />
                    Price: Rs.@product.PriceOfProduct<br />
                    Available: @product.availableProduct<br />
                    <table>
                        <tr >
                            <td style="border:1px solid;border-radius:5px;padding:7px;">
                                <a asp-controller="Products" asp-action="GetProductByProductId" asp-route-id="@product.ProductId">Buy </a>
                            </td>
                            <td style="border:1px solid;border-radius:5px;">
                                <a asp-controller="Products" asp-action="AddtoCartyByProductId" asp-route-id="@product.ProductId">Add to cart </a>
                            </td>
                        </tr>
                    </table>
                
                </div>
            </td>

            count++;
        }

        
       
    </tbody>
</table>
</body>
</html>
